<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Diabetes-identifier</title>
    <link rel="stylesheet" href="../static/style.css" />
    <script
      src="https://kit.fontawesome.com/5752404560.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="main">
      <img src="../static/diabetes2.jpg" alt="" />
      <div class="heading">
        <h1>diabetes identifier</h1>
      </div>

      <form
        method="POST"
        action="{{ url_for('submit')}}"
        accept-charset="utf-8"
      >
        <div class="form-group">
          <input type="text" name="age" placeholder="age" />
        </div>
        <div class="form-group">
          <input type="text" name="BMI" placeholder="BMI" />
        </div>
        <div class="form-group">
          <input type="text" name="glucose" placeholder="glucose" />
        </div>
        <div class="form-group">
          <input
            type="text"
            name="blood_pressure"
            placeholder="blood_pressure"
          />
        </div>
        <div class="form-group">
          <input type="text" name="pregnancies" placeholder="pregnancies" />
        </div>
        <div class="form-group">
          <input
            type="text"
            name="skin_thickness"
            placeholder="skin_thickness"
          />
        </div>
        <div class="form-group">
          <input type="text" name="ensulin" placeholder="ensulin" />
        </div>
        <div class="form-group">
          <input type="text" name="DPF" placeholder="DPF" />
        </div>
        <div class="form-group">
          <button type="submit">Predict</button>
        </div>
      </form>
    </div>

    <footer>
      <h3>For More Info. About My Project Visit At :</h3>
      <ul>
        <li>
          <div class="git-links links">
            <i class="fab fa-github"></i>
            <a href="https://github.com/AnupPendkar/Diabetes-identifier"
              >GitHub</a
            >
          </div>
        </li>
        <li>
          <div class="link-links links">
            <i class="fab fa-linkedin"></i>
            <a href="https://www.linkedin.com/in/anup-pendkar-8a9826196/"
              >LinkedIn</a
            >
          </div>
        </li>
      </ul>
      <h5>GitHub LinkedIn Designed and built with all love by Anup Pendkar.</h5>
      <p>©2020 Anup Pendkar. All rights Reserved</p>
    </footer>
  </body>
</html>
