<!DOCTYPE html>
<html lang="en">

<head>
   <title></title>
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Potta+One&display=swap" rel="stylesheet">
   <style>
       body {
        background-image: url({{url_for('static', filename='negative.jpg')}});
        background-size: 1350px 700px;
        background-repeat: no-repeat
       }
       h1{
           font-size: 55px;
           font-family: 'Potta One', cursive;
       }
        
   </style>
</head>

<body>
    <div class="container">
            <h1>congrats!!!</h1>
            <h1>You dont have diabetes</h1>
    </div>

</body>

</html>