<!DOCTYPE html>
<html lang="en">

<head>
   <title></title>
   <link rel="stylesheet" type="text/css" href="style.css">
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Potta+One&display=swap" rel="stylesheet">
   <style>
        body {
            background-image: url({{url_for('static', filename='positive.jpg')}}) ;
            background-size: 1350px 700px;
            background-repeat: no-repeat
        }
        h1{
            font-family: 'Potta One', cursive;
        }
   </style>
</head>

<body>
    <div class="container">
            <h1>Your Results Are Positive</h1>
            <h1>Take Proper Medication</h1>
            <h1>click on map icon map icon to show nearby hospitals who treat diabetes</h1>
            <a href="https://www.google.com/search?rlz=1C1CHBF_enIN885IN885&tbs=lf:1,lf_ui:2&tbm=lcl&sxsrf=ALeKk026pnLJ1_Hk5oCFXXn8ZyCuSgK5Ww:1611385287989&q=diabetes+hospital+near+me&rflfq=1&num=10&ved=2ahUKEwj6_r79vbHuAhW6wjgGHQBYCKkQtgN6BAgDEAc#rlfi=hd:;si:;mv:[[19.3007954,78.6826375],[17.2130611,77.2213271]];tbs:lrf:!1m4!1u3!2m2!3m1!1e1!1m4!1u2!2m2!2m1!1e1!1m4!1u16!2m2!16m1!1e1!1m4!1u16!2m2!16m1!1e2!2m1!1e2!2m1!1e16!2m1!1e3!3sIAE,lf:1,lf_ui:2"
            ><i class="material-icons" style="font-size:100px;color:red">place</i></a>
    </div>

</body>

</html>